<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles.css">
        <script async type="module" src="../auctions/activeAuctions.js"></script>
    </head>
    <body>
        <div class="topnav">
            <div id="pages">
              <a href="index.html">Bazaar Price Checker</a>
              <a class="active" href="../moneyMakingMethods/moneyMethods.js">Money Making Methods</a>
              <a href="./testingStuff.html">Testing Active Auctions</a>
            </div>
              <button type="button" id="switchLighting">Switch Lighting</button>
            <!--a href="#contact">Contact</a>
            <a href="#about">About</a-->
          </div>
        <button id="TEST" type="button">Does this work?</button>
    </body>
</html>